*.retry
group_vars/all
group_vars/kolide
group_vars/agents
group_vars/win_agents
group_vars/graylog
group_vars/win_dc
group_vars/windows
group_vars/caldera
conf/agents/certificate.crt
.DS_Store
*.pyc
env/
