# Kolide jwt key
kolide_jwt_key:

# MySQL setup
mysql_root_user: root
mysql_root_password:

# MySQL Kolide
mysql_kolide_dbname: kolide
mysql_kolide_user: kolide
mysql_kolide_pass:

# Set to % for all hosts
mysql_kolide_hosts: 127.0.0.1

# Kolide cert generation
cert_country:
cert_state:
cert_local:
cert_org:
cert_common_name: '{{ fleet_hostname }}.{{ base_domain }}'
