[Unit]
Description=Kolide Fleet management service
After=network.target

[Service]
User=kolide
Restart=on-failure
ExecStart=/usr/local/bin/linux/fleet_linux_amd64 serve --config /etc/kolide/kolide.yml

[Install]
WantedBy=multi-user.target
