[Unit]
Description=uWSGI instance to serve Doorman
After=network.target

[Service]
User=doorman
Group=www-data

WorkingDirectory=/opt/doorman
Environment="PATH=/opt/doorman/env/bin:/usr/local/bin:/usr/bin"
ExecStart=/usr/bin/uwsgi_python3 --ini doorman.ini

[Install]
WantedBy=multi-user.target
